/* MAIN */

html {
    background-color: #5c8a8a;
}
h1 {
  text-style:bold;
  color:#fff;
}
.main-img {
    width: 280px;
}
.container-fluid {
    font-family: 'Poiret One', cursive;
    background-color: #5c8a8a;
}
.center{
  text-align:center;
}

/* upgrade tabs */
.upgrade-nav li a{
color:#fff;

}
.nav-pills > li.active > a{
  background-color:#2E4068;
}
.upgrade-pane{
padding-top:20px;
width:100%;
}

/* Upgrade Cards */

.upgrade-card {
    background-color: grey;
    border: 1px solid #ADD8E6;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.more-currency {
    border-color: #fff;
}
.more-currency:active {
    border-color: red;
}
